.scroll{
    overflow-y: auto;
    height: 18rem;
}
@media (min-width: 275px) and (max-width:768px){
    .scroll{
      height: 9em;
    }
}
.scroll::-webkit-scrollbar{
  width: 1em;
}
.scroll::-webkit-scrollbar-track {
    border-radius: 1em;
    box-shadow: inset 0 0 6px #000;
}
.scroll::-webkit-scrollbar-thumb{
    border-radius: 1em;
  background: rgb(255, 255, 255);
  outline: 1px solid rgb(255, 255, 255);
}